Repository nlextract/NLExtract, pull requests merged in 2021-02, with the labels that each got.

#283 add INSTALL to sudo apt-get python-lxml
  doc/source/bagextract.rst
Labels: bag-extract, documentation

#289 Read README.md in setup, the name was changed in commit dee647f1.
  bag/setup.py
Labels: bag-extract, bug

#281 Simplify gid column creation with "serial"
  bag/db/script/adres-tabel-full.sql
  bag/db/script/adres-tabel.sql
Labels: bag-extract, enhancement

#298 Toevoeging push/popd aan BRK etl.sh
  brk/etl/etl.sh
Labels: brk-extract, enhancement

#303 #288 afronden adres-plus met CSV generatie en tests
  bag/db/script/adres-plus2csv.sql
  bag/test/bag-test.dump
  bag/test/bagadres-plus.csv
  bag/test/runadres.log
  bag/test/runadres.sh
Labels: bag-extract, enhancement

#304 #302 adres en adres-full uit adres-plus afleiden met tests
  bag/db/script/adres-full2csv.sql
  bag/db/script/adres-plus2adres-full-tabel.sql
  bag/db/script/adres-plus2adres-tabel.sql
  bag/db/script/adres-tabel-full.sql
  bag/db/script/adres-tabel.sql
  bag/test/bagadres-full.csv
  bag/test/bagadres.csv
  bag/test/bagadresplus.csv
  bag/test/runadres.log
  bag/test/runadres.sh
Labels: bag-extract, enhancement
